body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url('/images/white-wood.jpg') no-repeat cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  background-color: #dddd22;
    border: 1px solid #aaaa02;
  box-shadow:  -1px 1px #aaaa02, -2px 2px #aaaa02, -3px 3px #aaaa02, -4px 4px #aaaa02, -5px 5px #aaaa02;

}

.dubious {
  background-color: #dd4444;
    border: 1px solid #aa2323;
  box-shadow:  -1px 1px #aa2323, -2px 2px #aa2323, -3px 3px #aa2323, -4px 4px #aa2323, -5px 5px #aa2323;

}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border: 1px solid;
}

.med {
  width: 203.5%;
    border: 1px solid;
}

.large {
  width: 303%;
    border: 1px solid;
}
